/**
Cores:
  Cinza Claro:  #DDD;
  Cinza Escuro: #BBB;
  Azul: #3F51B5;
  Azul Claro: #9FA8DA;
  Rosa: #E91E63;

Imagens:
  Fundo com imagem "tileset.png"
  Cabeçalho com fundo "softcom.png"

*/


body {
  max-width: 800px;
  margin: 0 auto;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
